accelerate==0.32.1
cuml==0.6.1.post1
cupy==13.4.1
fastapi==0.115.12
flash_attn==2.7.0.post2
huggingface_hub==0.30.2
joblib==1.4.2
jsonlines==4.0.0
latex2sympy2==1.9.1
loralib==0.1.2
matplotlib==3.10.3
numpy==2.2.6
pandas==2.2.3
peft==0.15.0
pylatexenc==2.10
Requests==2.32.3
ring_flash_attn==0.1.5
scikit_learn==1.6.1
seaborn==0.13.2
setuptools==78.1.0
sympy==1.12.1
torch==2.3.1
tqdm==4.67.0
transformers==4.51.2
tuned_lens==0.2.0
uvicorn==0.34.2
vllm==0.5.3.post1
wandb==0.19.11
wheel==0.37.1
